body {
    margin: 0;
    background-color: rgb(104, 187, 285)
}

#header {
    margin: 10px;
    text-align: center;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}

#left-box {
    float: left;
    background-color: rgb(9, 30, 45); 
    color: white;
    width:300px;
    padding: 10px;
}

#right-box {
    width:auto;
    padding: 10px;
    float: left;
}

#experiences-box {
    background-color: white;
    padding: 10px;
}

#studies-box {
  background-color: white; 
  padding: 10px; 
}