body {
    margin: auto;
    background-color: rgb(104, 187, 285)
}

#header {
    margin: 10px;
}

#container {
    margin: 10px;
}

#left-box {
    float: left;
    background-color: rgb(9, 30, 45); 
    color: white;
    width:300px;
}

#right-box {
    width:600px;
    margin-left: 10px;

}

#experiences-box {
    background-color: white;
}

